.donation-container {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.cards-wrapper {
  display: flex;
  gap: 30px;
  max-width: 1000px;
}

.card {
  border: 2px solid #5a4b41;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: #3b2b24;
}

.card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card h2 {
  margin-top: 15px;
  font-size: 1.4rem;
  color: #3b2b24;
}

.card p {
  margin: 10px 0 20px 0;
  font-size: 1rem;
  font-weight: 500;
  flex-grow: 1;
}

.btn-card {
  background-color: #84b772;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
  transition: 0.2s;
}

.btn-card:hover {
  background-color: #72a161;
}

.donation-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-wrapper {
  display: flex;
  gap: 30px;
  max-width: 1000px;
}

.card {
  border: 2px solid #5a4b41;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card h2 {
  margin-top: 15px;
  font-size: 1.4rem;
}

.card p {
  margin: 10px 0 20px 0;
  font-size: 1rem;
  font-weight: 500;
  flex-grow: 1;
}

.btn-card {
  background-color: #84b772;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
  transition: 0.2s;
}

.btn-card:hover {
  background-color: #72a161;
}

.quote-section {
  margin-top: 60px;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  color: #3b2b24;
}

.quote-section p {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.5;
}

.quote-icon {
  width: 200px;
  opacity: 0.6;
  margin: -40px;
}

/* Responsividade para Celular*/
@media (max-width: 600px) {
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 400px;
  }

  .donation-container {
    width: 100%;
    padding: 20px 10px;
  }

  .header-links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .header-links a {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .quote-icon {
    width: 150px;
    margin: -20px;
  }
}

/* Responsividade para Tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: calc(50% - 15px);
  }

  .quote-section {
    margin-top: 40px;
    padding: 0 40px;
  }
}
