html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none !important;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.App {
  display: flex;
  height: 100vh;
  overflow: hidden; 
  position: relative;
}

.main-content {
  flex: 1;
  height: 100vh; 
  margin-left: 110px;
  width: calc(100% - 110px);
  box-sizing: border-box;
  overflow-y: auto; 
}