html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none !important;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
}
